/*--setting body styles and background--*/
body {
    overflow-x: hidden;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.main {
    padding-top: 40px;
}

.header {
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 25px;
    font-weight: bolder;
}

/*--resetting bootstrap styling--*/
#example-search-input {
    border: 2px solid #172E45 !important;
    border-right: 1px solid rgba(255,255,255, 0.1) !important;
    color: #172E45 !important;
    background-color: rgba(255,255,255, 0.7) !important;
}

#search-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 2px solid black !important;
    border-left: none !important;
    background-color: rgba(255,255,255, 0.7) !important;
}

/*--setting icon color--*/
.fa-search {
    color: black;
}

.city-search {
    padding: 0px 20px 0px 20px;
}

.recent-searches {
    padding: 12px 20px 12px 20px;
}

.recent-searches button {
    width: 100%;
    margin: 15px 0 15px 0;
    background-color: rgba(0,0,0,.7);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}

.recent-searches button:hover {
    background-color: rgba(0,0,0,.8);
}

.weather-display {
    max-width: 830px !important;
}

.today-weather-display {
    padding: 0px 40px 0px 20px !important;
}

.future-weather-display {
    padding: 0px 30px 0px 10px !important;
}

/*--responsive design for smaller screens--*/
@media screen and (max-width: 768px) {
    .today-weather-display {
        padding: 0px 30px 0px 30px !important;
    }
    
    .future-weather-display {
        padding: 0px 20px 0px 20px !important;
    }
}

#current-weather {
    background-color: rgba(0,0,0,.7);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#current-weather  > * {
    color: white;
}

#current-weather h5 {
    margin-right: 10px;
}

#current-day-icon {
    display: block;
}

.future-weather-display {
    overflow-x: auto;
    flex-wrap: nowrap !important;
    padding-left: 10px;
}

/*--styling a custom scrollbar--*/
.future-weather-display::-webkit-scrollbar {
    width: 7px;               
}
  
.future-weather-display::-webkit-scrollbar-track {
    background: transparent;        
}
  
.future-weather-display::-webkit-scrollbar-thumb {
    background-color: #172E45;    
    border-radius: 20px;       
}

/*--adjusting the default bootstrap styling for cards--*/
.future-weather-display .card {
    min-width: 120px;
    margin: 20px 10px 20px 10px;
    background-color: rgba(0,0,0,.7);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.future-weather-display .card > * {
    color: white;
}

.future-weather-display .card .card-body {
    padding: 8px 0 8px 0;
}

.future-weather-display * i {
    margin-right: 8px;
}

.future-weather-display * p {
    white-space: nowrap;
    font-size: 0.9em;
}

.card-text {
    margin: 5px 0 5px 0;
}